header{
	height: 20px;
}
.cabecera {
    background-image: url(http://infomode.hol.es/wp-content/uploads/2016/01/grados-de-inform%C3%A1tica.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.sub-cabecera {}

.medio {}

.menu-scroll {
    background-color: black;
}
